<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package
    Name="TypeSymbol"
    Manufacturer="yazanmwk"
    Version="$(var.Version)"
    UpgradeCode="95185AA2-227C-40EE-BB1E-824F44474152"
    Scope="perUser">
    <MajorUpgrade DowngradeErrorMessage="A newer version of TypeSymbol is already installed." />
    <MediaTemplate EmbedCab="yes" />

    <StandardDirectory Id="LocalAppDataFolder">
      <Directory Id="INSTALLDIR" Name="TypeSymbol" />
    </StandardDirectory>

    <Feature Id="MainFeature" Title="TypeSymbol" Level="1">
      <ComponentRef Id="TypeSymbolExeComponent" />
      <ComponentRef Id="UserPathComponent" />
    </Feature>
  </Package>

  <Fragment>
    <DirectoryRef Id="INSTALLDIR">
      <Component Id="TypeSymbolExeComponent" Guid="E85E3E57-BF7C-4468-8F44-75DB2EEB782C">
        <File Id="TypeSymbolExe" Source="$(var.BinaryPath)" KeyPath="yes" />
      </Component>

      <Component Id="UserPathComponent" Guid="7F915582-0556-4A49-88D0-D0CF3F6B25DD">
        <Environment
          Id="TypeSymbolPath"
          Action="set"
          Name="PATH"
          Part="last"
          Permanent="no"
          System="no"
          Value="[INSTALLDIR]" />
        <RegistryValue
          Root="HKCU"
          Key="Software\yazanmwk\TypeSymbol"
          Name="Installed"
          Type="integer"
          Value="1"
          KeyPath="yes" />
      </Component>
    </DirectoryRef>
  </Fragment>
</Wix>
