# yaml-language-server: $schema=https://aka.ms/winget-manifest.installer.1.9.0.schema.json
PackageIdentifier: yazanmwk.TypeSymbol
PackageVersion: "__VERSION__"
InstallerType: wix
Scope: user
InstallerSwitches:
  Silent: /quiet
  SilentWithProgress: /passive
UpgradeBehavior: install
Installers:
  - Architecture: x64
    InstallerUrl: "__URL_WINDOWS_X64__"
    InstallerSha256: "__SHA_WINDOWS_X64__"
ManifestType: installer
ManifestVersion: 1.9.0
